html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

html, body {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing, auto;
}
body {
        -ms-transform: rotate(-5deg);
-webkit-transform: rotate(5deg);
-o-transform: rotate(5deg);
-moz-transform: rotate(5deg);

}
::-webkit-scrollbar {
    width: 12px;
    height: 13px;
    background-color: #cadfce;
    border: 1px dotted #847141;
    -webkit-border-radius: 6px;

}
::-webkit-scrollbar-thumb:vertical {
    background-color: #e5e09e;
    border: 1.5px dotted #d09259;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 10px 2px #000;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
    display:block;
}

@font-face{
    font-family: 'silkscreennormal';
    src: url('http://static.tumblr.com/grxjeho/QgXmpxoi1/slkscr-webfont.eot');
    src: url('http://static.tumblr.com/grxjeho/QgXmpxoi1/slkscr-webfont.eot?iefix') format('eot'),
         url('http://static.tumblr.com/grxjeho/67Bmpxotf/slkscr-webfont.woff') format('woff'),
         url('http://static.tumblr.com/grxjeho/tepmpxoss/slkscr-webfont.ttf') format('truetype'),
         url('WebFont.svg#webfont') format('svg');
}

body
{
    background-color:#FFF;
    background-image:url('http://static.tumblr.com/grxjeho/8eXnjgttk/pat_20030818150650.gif');
background-repeat:repeat;
    color:#333;
    font-family:constantia, georgia, sans-serif;
    font-size:1em;
    height:100%;
    line-height:1.75;
    margin:auto;
    width:750px;
    min-width: 750px;
    -webkit-font-feature-settings: "kern", "liga", "case"; /* No variation */
    -moz-font-feature-settings: "kern=1", "liga=1", "case=1"; /* Firefox 4.0 to 14.0 */
    -moz-font-feature-settings: "kern", "liga", "case"; /* Firefox 15.0 onwards */
    font-feature-settings: "kern", "liga", "case"; /* No variation */
}

nav
{
    background:#fff;
    float:left;
    position: fixed;
    text-align:left;
    width:170px;
    z-index: 10;
    top: 8em;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 1.5px dotted #d09259;
    box-shadow: 0 0 10px 2px #666;

}


.articles
{
    float:right;
    width:500px;
    padding-top: 8em;
}

article
{
    width:500px;
    padding-bottom:9.8em;
    float: left;
    z-index: 20;
    background: #fff;
    padding: 20px;
    margin-bottom: 9em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1.5px dotted #d09259;
    box-shadow: 0 0 10px 2px #333;

}

footer
{
    clear:both;
    padding-top:1em;
    text-align:left;
}

ol,ul
{
    padding-bottom:1.5em;
    padding-top:1.5em;
}

ul
{
    list-style:disc;
}
ol
{
    list-style: decimal;
}
ol.notes, ul.chat
{
    list-style:none;
}

ol.notes .avatar
{
    display: none;
}

b,strong,.label
{
    font-weight:700;
}
.screenplay {
    list-style: none;
}

.screenplay {
    font: 12px/16px Courier, fixed;
    margin-left: 5%; padding-right: 5%;
}

.character {
    text-align: center;
    text-transform: uppercase;
    display: block;
}
.character + .dialog {
    margin-left: 25%;
    padding-right: 25%;
    text-indent: 0;
    text-align: left;
}

blockquote,q
{
    quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after
{
    content:none;
}

ins
{
    text-decoration:none;
}

del
{
    text-decoration:line-through;
}

table
{
    border-collapse:collapse;
    border-spacing:0;
}

aside
{
    font-size:.5em;
    font-family: verdana;
    color:#999;
}



a:link,a:visited,a:active
{
    color:#00aeff;
    font-style:italic;
    text-decoration:none;
}

a:hover
{
    -webkit-transition:color .5s ease-in-out;
    -moz-transition:color .5s ease-in-out;
    -o-transition:color .5s ease-in-out;
    color:#000;
    transition:color .5s ease-in-out;
}

a:active
{
    color:#000;
}

p
{
    line-height:1.5;
    margin-bottom:0;
    margin-top:1.5em;
}

em
{
    color:#000;
    font-style:italic;
}

.articles p + p,.post,br + br
{
    margin-top:0;
    text-indent:1em;
}

nav p + p,h1 + p,h2 + p,h3 + p,h4 + p,blockquote + p,hr + p,ul + p,ol + p,img + p + p,div,.meida + div + p,.chatlog,.chatlog p,.chatlog p + p
{
    text-indent:0;
}

h1,h2,h3,h4,h5,h1 a,h2 a,h3 a
{
    color:#000;
    font-weight:400;
    text-align:left;
    text-indent:0;
}

h1
{
    font-size:2.25em;
    font-family: silkscreennormal;
}

h2
{
    font-size:1.5em;
    font-family: silkscreennormal;
}

h3
{
    font-size:1.125em;
    font-family: silkscreennormal;
}

h4
{
    font-size:1em;
    line-height:2.5;
    font-family: silkscreennormal;
}

hr
{
    border:none;
    clear:both;
    color:#eee;
    margin-bottom:1em;
    margin-top:1em;
    padding-bottom:1em;
    padding-top:1em;
}

blockquote
{
    line-height:1.5;
    margin:1.5em;
    margin-left:3em;
}

blockquote, blockquote p
{
    color:#666;
}

sup,sub
{
    height:0;
    line-height:1;
    position:relative;
    vertical-align:baseline;
}

sup
{
    bottom:1ex;
}

sub
{
    top:.5ex;
}

nav ul,nav ol
{
    list-style-type:none;
}

li + li
{
    padding-top:.5em;
}

li
{
    margin-left:2em;
}

code, pre
{
    font-family: "Source Code Pro", "Consolas", "Andale Mono", monospace;
}
